@tailwind base;
@tailwind components;
@tailwind utilities;

.iti__flag {background-image: url("../../node_modules/intl-tel-input/build/img/flags.png");}
 
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../../node_modules/intl-tel-input/build/img/flags@2x.png");}
}

button {
  cursor: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
  background: #000;
  color: #fff;
  overflow-x: hidden;

  width: 100vw;
  position: absolute;
  /* transition: all 0.45s ease; */
} 

header {
  /* position: fixed;
  bottom: 0; */
  border-bottom: 1px solid #fff3;
}
.logo-container {
  mix-blend-mode: difference;
}

/* LANDING */
.landing {
  min-height: 100vh;
}
.landing-brand-desc {
  width: 40rem;
  font-family: "Karla";
}
.landing-brand-text {
  letter-spacing: 6rem;
  display: inline-block;
  width: 1383px
}
.bubble-btn {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 199px;
  height: 199px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(3px);
  transition: all 0.4s ease;
}
.bubble-btn p {
  transition: all 0.1s ease;
}
.bubble-btn:hover {
  scale: 1.2;
  backdrop-filter: blur(7px);
}


.bubble-btn:nth-child(1) {
  left: -130px;
  top: 100px;
}
.bubble-btn:nth-child(2) {
  right: 100px;
  top: 400px;
}
.bubble-btn:nth-child(3) {
  top: -110px;
  right: -100px;
}

.landing-video-bg {
  width: 1300px; 
  height:550px;
}
.landing-video-bg video,.landing-video-bg img,.landing-video-bg iframe,#player{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#player {
  max-width: 100% !important;
}
/* LANDING */

.cta-text {
  min-height: 400px;

}
.work-wrapper {
  /* min-width: 700px; */
  max-width: 700px;
}

.curve-vector {
  width: 80vw;
  min-height: 400px;
  border-radius: 50%;
  position: absolute;
  top: -10rem;
  border: 1px solid #fff4;
}
.services-landing-wrapper {
  min-height: 100vh;
}
.curve-vector::before {
  content: "";
  width: 80vw;
  min-height: 400px;
  border-radius: 50%;
  position: absolute;
  left: -51px;
  border: 1px solid #fff4;
}
.service-section,.services-body,.section-process,.process-roadmap-wrapper {
  min-height: 100vh;
}

.layout-circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 1px solid #fff3;
  top: -120%;
  left: 0%;
}
.layout-circle::before {
  content: "";
  position: absolute;
  min-width: 600px;
  min-height: 600px;
  border-radius: 50%;
  border: 1px solid #fff3;
  left: 1%;
}
.layout-circle::after {
  content: "";
  position: absolute;
  min-width: 600px;
  min-height: 600px;
  border-radius: 50%;
  border: 1px solid #fff3;
  left: -2%;
}
.services-landing-wrapper {
  min-width: 100vw;
}

.focus {
  position: relative;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.focus::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border:1px solid #0004;
  border-radius: 50%;
  animation: radar 3s infinite;
}
@keyframes radar {
  0% {
      scale: 1;
  }

  100% {
      padding: 50px;
      opacity: 0;
  }
}
.vector-bar {
  width: 70px;
  height: 1px;
  background: #0007;
  position: absolute;
  rotate: -35deg;
}
.vector-bar::after {
  content: "";
  width: 70px;
  height: 1px;
  transform: translateY(-20px) translateX(64px);
  background: #0007;
  position: absolute;
  rotate: 35deg;
}
.rotu {
  transform: rotateY(180deg);
}


/* SERVICES */
.service-image-wrapper img,.service-image-wrapper-full img {
width: 100%;
height: 100%;
object-fit: cover;
}
.service-image-wrapper {
  height: 70vh;
  width: 50vw;
  transition: all 1s ease;
}
.service-image-wrapper-full {
  height: 70vh;
  width: 65vw;
  transition: all 1s ease;

}


.bar {
  width: 0.3px;
  min-height: 100%;
  background: #0003;
}
.service-desc {
  width: 30rem;
}
.services-tagline,.service-desc {
  font-family: 'Karla', sans-serif;
}
.services-tagline {
  width: 30rem;
}
.team-wrapper {
  min-height: 100vh;
}



/* TEAM MEMBERS */
/* Roadmap */
  .phase-desc {
    font-size: 1.1rem;
    font-weight: 300;
  }
/* WORKS */

/* Footer */

footer {
  width: 100%;
  color: #000;
  min-height: 100vh;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.menu-wrapper {
  width: 100vw;
  height: 0;
  min-height: 0vh;
  position: fixed;
  background: #000;
  color: white;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 20;
  transition: min-height 0.6s ease-in-out, padding 1.3s ease-in-out;
  overflow: hidden;
}
.menu-wrapper.active {
  min-height: 100vh;
}
.menu-wrapper.active > .menu-body {
  min-height: 90vh;
}

.contact-mail {
  font-family: "Poppins";
}
.close-btn-menu {
  font-family: "Poppins";
}

.menu-contact {
  width: 100vw;
}

.menu-link {
  height: 140px;
  overflow: hidden;
  letter-spacing: 1.1rem;
}
.slide-button {
  position: relative;
  background: none;
  overflow: hidden;
  transition: all 0.3s ease;
  mix-blend-mode: difference;
}

.slide-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: white;
  transition: all 0.3s ease;
  z-index: -1;
}

.slide-button:hover {
  color: black;
}

.slide-button:hover:before {
  height: 100%;
}

.slide-button.light {
  position: relative;
  background: none;
  color: #fff;
  overflow: hidden;
  border-color: #fff;
  transition: all 0.3s ease;
}

.slide-button.light:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #fff;
  transition: all 0.3s ease;
  z-index: -1;
}

.slide-button.light:hover {
  color: black;
}

.slide-button.light:hover:before {
  height: 100%;
}

.cursor {
  position: fixed;
  width: 60px;
  height: 60px;
  transform: translateX(100px);
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.1s ease-out,width 0.8s ease,height 0.8s ease;
  transform-origin: center;
  mix-blend-mode: difference;
}

.cursor.service {
  width: 150px;
  height: 150px;
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* CONTACT */

.contact-form-wrapper {
  width: 90%;
  min-height: 90vh;
  background: #fff;
  border-radius: 70px;
}


.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 20;
}


.spinner {
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* PROJECTS */
.projects-wrapper {
  height: 100vh;
}

.projects-info {
  width: 50%;
}

.join-team-btn {
  mix-blend-mode: difference;
}

/* Loader */
.loading-screen {
  width: 100%;
  height: 100vh;
  background: #fff;
}