@media only screen and (max-width: 800px) {
    * {
        cursor: default;
    }
    .cursor {
        display: none;
    }
    .layout-circle {
        width: 250px;
        height: 250px;
        left: 3%;
    }
    .layout-circle::before {
        content: "";
        position: absolute;
        min-width: 250px;
        min-height: 250px;
        border-radius: 50%;
        border: 1px solid #fff3;
        left: 1%;
    }
    .layout-circle::after {
        content: "";
        position: absolute;
        min-width: 250px;
        min-height: 250px;
        border-radius: 50%;
        border: 1px solid #fff3;
        left: 1%;
    }
    .services-body {
        min-width: 100vw;
        padding: 1.2rem;
    }
    .service-image-wrapper {
        height: 70vh;
        width: 100%;
        transition: all 1s ease;
    }
    .service-desc {
        width: 20rem;
    }
    .service-image-wrapper img {
        width: 0%;
    }
    .services-tagline {
        width: 20rem;
        font-size: 1rem;
    }
    .landing-brand-text {
        letter-spacing: 1rem;
        display: inline-block;
        width: 70%;
    }
    .landing-brand-desc {
        width: auto;
        font-family: "Karla";
    }
}