

@media (min-width:1020px) and (max-width: 1511px) {
    .team-wrapper {
        padding: 0px 100px;
    }
    .projects-info {
        top: 0;
        right: 0;
        text-align: right;
    }
    .projects-info > p{
        font-size: 2rem;
        width: 50%;
        position: sticky;
        margin-left: auto;
    }
    .footer-cta {
        text-align: center;
        font-size: 4rem;
    }
    .services-tagline-wrapper {
        padding: 0px 100px;
    }
    .service-wrapper {
        min-width:70vw;
    }
    .service-image-wrapper {
        width: 70vw;
      }
    .service-image-wrapper-full {
        width: 100%;
    }

    .layout-circle{
        width: 500px;
        height: 500px;
        left: 10px;
        top: -60%;
    }
    .layout-circle::before {
        content: "";
        position: absolute;
        min-width: 500px;
        min-height: 500px;
      }
      .layout-circle::after {
        content: "";
        position: absolute;
        min-width: 500px;
        min-height: 500px;
        
      }
    #service-cta-text {
        font-size: 4rem;
    }
    
}

@media only screen and (max-width: 1700px) {
    .services-tagline-wrapper {
        padding: 0px 100px;
    } 
    #service-cta-text {
        font-size: 7rem;
    }
    .layout-circle{
        width: 500px;
        height: 500px;
        left: 20px;
    }
    .layout-circle::before {
        content: "";
        position: absolute;
        min-width: 500px;
        min-height: 500px;
      }
      .layout-circle::after {
        content: "";
        position: absolute;
        min-width: 500px;
        min-height: 500px;
        
      }
}

@media only screen and (max-width: 1200px) {
    #service-cta-text {
        font-size: 2rem;
    }
    .projects-wrapper {
        height: auto;
      }
      .projects-info {
        width: 100%;
      }
    .menu-link {
        height: 60px;
        letter-spacing: 0.8rem;
    }
    * {
        cursor: default;
    }
    .bubble-btns {
        display: none;
    }
    .cursor {
        display: none;
    }
    .layout-circle {
        width: 250px;
        height: 250px;
        left: 13%;
    }
    
    .layout-circle::before {
        content: "";
        position: absolute;
        min-width: 250px;
        min-height: 250px;
        border-radius: 50%;
        border: 1px solid #fff3;
        left: 1%;
    }
    .layout-circle::after {
        content: "";
        position: absolute;
        min-width: 250px;
        min-height: 250px;
        border-radius: 50%;
        border: 1px solid #fff3;
        left: 1%;
    }
    
    .service-image-wrapper {
        height: 70vh;
        width: 100%;
        transition: all 1s ease;
    }
    .service-desc {
        width: 20rem;
    }
    .service-image-wrapper img {
        width: 0%;
    }
    .services-tagline {
        width: 20rem;
        font-size: 1rem;
    }
    .landing-brand-text {
        letter-spacing: 1rem;
        display: inline-block;
        width: 70%;
    }
    .landing-brand-desc {
        width: auto;
        font-family: "Karla";
    }
    .product-features-header h2 {
        width: 100%;
        line-height: 131%;
      }
      .menu-wrapper.active {
        width: 20rem;
        top: 0;
        right: 0;
        border-radius: 0px 0px 0px 50px;
      }
      
}
