

@media (min-width:1200px) and (max-width: 1511px) {
    .services-tagline-wrapper {
        padding: 0px 100px;
    }

    .layout-circle{
        width: 500px;
        height: 500px;
        left: 10px;
        top: -60%;
    }
    .layout-circle::before {
        content: "";
        position: absolute;
        min-width: 500px;
        min-height: 500px;
      }
      .layout-circle::after {
        content: "";
        position: absolute;
        min-width: 500px;
        min-height: 500px;
        
      }
    #service-cta-text {
        font-size: 4rem;
    }
    
}

@media only screen and (max-width: 1700px) {
    .services-tagline-wrapper {
        padding: 0px 100px;
    } 
    #service-cta-text {
        font-size: 7rem;
    }
    .layout-circle{
        width: 500px;
        height: 500px;
        left: 20px;
    }
    .layout-circle::before {
        content: "";
        position: absolute;
        min-width: 500px;
        min-height: 500px;
      }
      .layout-circle::after {
        content: "";
        position: absolute;
        min-width: 500px;
        min-height: 500px;
        
      }
}

@media only screen and (max-width: 1200px) {
    #service-cta-text {
        font-size: 2rem;
    }
    .projects-wrapper {
        height: auto;
      }
      .projects-info {
        width: 100%;
      }
    .menu-link {
        height: 60px;
        letter-spacing: 0.8rem;
    }
    * {
        cursor: default;
    }
    .bubble-btns {
        display: none;
    }
    .cursor {
        display: none;
    }
    .layout-circle {
        width: 250px;
        height: 250px;
        left: 13%;
    }
    
    .layout-circle::before {
        content: "";
        position: absolute;
        min-width: 250px;
        min-height: 250px;
        border-radius: 50%;
        border: 1px solid #fff3;
        left: 1%;
    }
    .layout-circle::after {
        content: "";
        position: absolute;
        min-width: 250px;
        min-height: 250px;
        border-radius: 50%;
        border: 1px solid #fff3;
        left: 1%;
    }
    .services-body {
        min-width: 100vw;
        padding: 1.2rem;
    }
    .service-image-wrapper {
        height: 70vh;
        width: 100%;
        transition: all 1s ease;
    }
    .service-desc {
        width: 20rem;
    }
    .service-image-wrapper img {
        width: 0%;
    }
    .services-tagline {
        width: 20rem;
        font-size: 1rem;
    }
    .landing-brand-text {
        letter-spacing: 1rem;
        display: inline-block;
        width: 70%;
    }
    .landing-brand-desc {
        width: auto;
        font-family: "Karla";
    }
}
